<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vizva.swellness">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".MainpageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FitnessActivity" />
        <activity android:name=".DietActivity" />
        <activity android:name=".SleepActivity" />
        <activity android:name=".MeditationActivity" />
        <activity android:name=".SuggestionActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="Swellness Menu"
            android:parentActivityName=".MainpageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainpageActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Swellness Profile" />
        <activity android:name=".FavoritesActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".ContactActivity"></activity>
    </application>

</manifest>